<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalafo</title>
</head>
<body>
    <table border="1">
        <th>
            <td>Category</td>
            <td>Title</td>
            <td>Description</td>
            <td>Phone</td>
        </th>

        {% for i in data %}
        <tr><td></td>
            <td>{{i.category}}</td>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>{{i.phone}}</td>
        </tr>
        {% endfor %}


    </table>
</body>
</html>
